h1{
  text-align: center;
  color: dodgerblue;
  font-family: "Comic Sans MS";
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family:"times";
  padding: 10px;
  text-align: center;
}

table{
  margin-top: 50px;
}
