//this page is to store all the global variables of the website
$brand-color: #1D4EEE;
$whiteSection: white;
$greySection: rgba(209, 203, 203,0.1);
$gradientColor:rgba(7,88,89,0.9);
$fontSan:sofia-pro,helvetica,arial,sans-serif;
$basicLogoColor: rgb(9,162,159);

$greyFont: rgb(123, 120, 125);
