


<button (click)="toggleModal()" class="addButton"><i class="far fa-plus-square"></i> Create New Todo </button>
<!-- ng for is used to dynamically create to-do item components according to the to-do list-->
<div *ngFor="let todo of todoList">
  <app-todo-item [todo]="todo" ></app-todo-item>
</div>
<!-- Below code generates the modal component on click of add button-->
<app-modal
  [show]="showModal"
  [closeCallback]="toggleModal"
  [todo]="todo"
>
  <!--    <h2>Told Ya!</h2>-->
  <!--    <iframe title="giphy" src="https://giphy.com/embed/l52CGyJ4LZPa0" width="480" height="273" frameBorder="0" className="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sandler-sentences-sounding-l52CGyJ4LZPa0">via GIPHY</a></p>-->
</app-modal>


<!--<div class="extra-container">-->
<!--<div><label><input type="checkbox" (change)="todoService.checkAllTodos()"  [(ngModel)]="!todoService.anyRemainingModel"> Check All</label></div>-->
<!--<div>{{ todoService.remaining() }} items left</div>-->
<!--</div>-->

<!--<div class="extra-container">-->
<!--  <div>-->
<!--    <button [ngClass]="{'active': todoService.filter === 'all'}" (click)="todoService.filter='all'">All</button>-->
<!--    <button [ngClass]="{'active': todoService.filter === 'active'}" (click)="todoService.filter='active'">Active</button>-->
<!--    <button [ngClass]="{'active': todoService.filter === 'completed'}" (click)="todoService.filter='completed'">Completed</button>-->
<!--  </div>-->

<!--  <div *ngIf="todoService.atLeastOneCompleted()">-->
<!--    <button (click)="todoService.clearCompleted()">Clear Completed</button>-->
<!--  </div>-->

<!--</div>-->
